{% extends 'auth_base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
        <div class="card-body">
            <form action="{% url 'admin_login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <!--dont add label this way-->
                    <label class="small mb-1" for="inputUsername">Username</label>
                    {{ form.username }}
                </div>

                <div class="form-group">
                    <label class="small mb-1" for="inputEmailAddress">Email</label>
                    {{ form.email }}
                </div>

                <div class="form-group">
                    <label class="small mb-1" for="inputPassword">Password</label>
                    {{ form.password }}
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="rememberPasswordCheck"
                               type="checkbox">
                        <label class="custom-control-label" for="rememberPasswordCheck">Remember
                            password</label>
                    </div>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a class="small" href="#">Forgot Password?</a>
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <div class="small">
                <a href="{% url 'admin_register' %}">Need an account? Sign up!</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}