{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">

            <li><img src="{% static 'img/h4-slide.png' %}" alt="Slide"></li>


            <li><img src="{% static 'img/h4-slide2.png' %}" alt="Slide"></li>


            <li><img src="{% static 'img/h4-slide3.png' %}" alt="Slide"></li>


            <li><img src="{% static 'img/h4-slide4.png' %}" alt="Slide"></li>


        </ul>
    </div>
    <!-- ./Slider -->
</div><!-- End slider area -->

<div class="maincontent-area">
<div class="zigzag-bottom"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="latest-product">
                <h2 class="section-title">Latest Products</h2>
                <div class="product-carousel">
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="{% static 'img/product-1.jpg' %}" alt="">
                            <div class="product-hover">
                                <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                            </div>
                        </div>

                        <h2><a href="single-product.html">Maria Sharapova</a></h2>

                        <div class="product-carousel-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="{% static 'img/product-2.jpg' %}" alt="">
                            <div class="product-hover">
                                <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                            </div>
                        </div>

                        <h2>Sir Viv Richards</h2>
                        <div class="product-carousel-price">
                            <ins>$899.00</ins> <del>$999.00</del>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="{% static 'img/product-3.jpg' %}" alt="">
                            <div class="product-hover">
                                <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                            </div>
                        </div>

                        <h2>Alisa Manenok</h2>

                        <div class="product-carousel-price">
                            <ins>$400.00</ins> <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="{% static 'img/product-4.jpg' %}" alt="">
                            <div class="product-hover">
                                <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                            </div>
                        </div>

                        <h2><a href="single-product.html">Cristiano Ronaldo</a></h2>

                        <div class="product-carousel-price">
                            <ins>$900.00</ins> <del>$1100.00</del>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="{% static 'img/product-5.jpg' %}" alt="">
                            <div class="product-hover">
                                <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                            </div>
                        </div>

                        <h2>MSD 7</h2>

                        <div class="product-carousel-price">
                            <ins>$1200.00</ins> <del>$1355.00</del>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="{% static 'img/product-6.jpg' %}" alt="">
                            <div class="product-hover">
                                <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                            </div>
                        </div>

                        <h2><a href="single-product.html">Wilt Chamberlain</a></h2>

                        <div class="product-carousel-price">
                            <ins>$1400.00</ins>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!-- End main content area -->

{% endblock %}